@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Hot FIRE</h1>
    <p class="col-sm-6 text-center">@Html.ActionLink("Shop our gallery", "Index", "Customer")</p>
    <p class="col-sm-6 text-center">@Html.ActionLink("Find upcoming gallery shows", "Shows", "Customer")</p>
</div>

